{% extends 'blogs/base.html' %}
{% block page_header %}
    <h2>Posts:</h2>
{% endblock page_header %}
{% block content %}
<ul>
    {% for post in posts %}
        <li>
            <p>{{ post.title }}, owner is:({{ post.owner }})</p>
            <p>{{ post.text }}</p>
            <p>{{ post.date_added }}</p>
        </li>
        <p><a class="btn btn-outline-primary btn-sm" href="{% url 'blogs:edit_post' post.id %}">edit post</a></p>
    {% empty %}
        <li>There are no posts</li>
    {% endfor %}
</ul>
    <p><a class="btn btn-secondary" href="{% url 'blogs:new_post' %}">create a new post</a></p>
{% endblock content %}
